# ignore all files starting with . or ~
.*
~*

# ignore node/grunt dependency directories
node_modules/


# -------------------------
# BEGIN Whitelisted Files
# -------------------------

# track these files, if they exist
!.gitignore
!.editorconfig
!.phpcs.xml.dist